<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

    <!--playing data-->
    <!-- <node pkg="tf" type="tf_remap" name="tf_remapper" output="screen"> -->
  		<!-- <rosparam param="mappings"> -->
    		<!-- -[{old: "/gps", new: "gps"}] -->
  		<!-- </rosparam> -->
	<!-- </node> -->

		<node pkg="rosbag" type="play" name="rosbagplay" args="$(find localization)/../../bags/gps_test.bag --clock -d 5" required="true">

    <!-- <remap from="tf" to="tf_old"/> -->
	</node>

    <node name="mapviz" pkg="mapviz" type="mapviz"/>

</launch>
