<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<include file="$(find localization)/launch/sub_launch/ekf.launch"/>
	<include file="$(find localization)/launch/sub_launch/navsat_transform.launch"/>
	<include file="$(find localization)/launch/sub_launch/hector_trajectory.launch"/>

    <rosparam command="load" file="$(find localization)/launch/sub_launch/transforms.yaml" />

	<!--static transforms-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="bno_imu" args="-0.37 0 0.57 1.57 0 0 base_link imu_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="ppp_gps" args="1.08 0 0.6 0 0 0 base_link /gps" />

    <!--playing data-->
    <!-- <node pkg="tf" type="tf_remap" name="tf_remapper" output="screen"> -->
  		<!-- <rosparam param="mappings"> -->
    		<!-- -[{old: "/gps", new: "gps"}] -->
  		<!-- </rosparam> -->
	<!-- </node> -->

    <node pkg="rosbag" type="play" name="rosbagplay" args="$(find localization)/tests/test_bags/nrec_carpark_to_trailer.bag --clock -d 5" required="true">
    <!-- <remap from="tf" to="tf_old"/> -->
	</node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find localization)/launch/sub_launch/localization.rviz"/>

    <!--if running ground truth-->
    <!--include file="fve_markers_odom_run3.launch"/-->
</launch>
